<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../src/paging.css"/>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="../vendors/3rd/angular/angular.js"></script>
    <!-- module attribute is set by angular module name witch is defined by yourself. -->
    <!-- module属性是自定义的属性，其值为要引入的angularJs模块名,该值用于最终在bootstrapApp.js中启动多个自定义模块 -->
    <script src="../src/pagingDirective.js" module="paging.directive"></script>
    <script src="../test/index-controller.js" module="index.controller"></script>
    <!-- defer here is to bootstrap Angular Modules later. the reason of importing this file is to load modules whatever you want.-->
    <script src="../bootstrapApp.js" defer async="true"></script>

    <!-- In order to test with file protocol,ng-template is used here. In your own real application environment,you may not necessary to do like this. -->
    <!-- 为了使得在直接打开文件的情况下能够测试通过，这里使用了ng-template;在真实应用中，你可以直接在指令中引入paging.html的位置即可 -->
    <script type='text/ng-template' id='pagingTemplate'>
        <div>
            <div class="pagingBar ng-hide" ng-show="showPaging">
                <div>
                    <div class="floatRight pagingBtn">
                        <a class="paging" ng-click="firstClicked()"><span class="pageArrIco">&lt;&lt;</span></a>
                        <a class="paging" ng-click="preClicked()">&lt;</a>
                        <a ng-repeat="page in pages" class="{{page.clazz}} paging" ng-click="pagingClicked()">{{page.index}}</a>
                        <a class="paging" ng-click="nextClicked()">&gt;</a>
                        <a class="paging" ng-click="lastClicked()"><span
                                class="pageArrIco">&gt;&gt;</span></a>
                        <span class="paging marginLeft10">跳转到</span>
                        <input type="text" style="padding: 5px 6px 8px 6px;width:40px;" ng-model="goPage">
                        <a class="paging" ng-click="goClicked()">GO</a>
                    </div>

                    共有 <span class="highLight">{{totalCount}}</span> 条, 每页
                    <select class="pagingSelect" ng-change="pageSizeChanged(pageSize)" ng-model="pageSize" ng-options="option for option in pageSizeOption"/>
                    条
                </div>

            </div>
            <div ng-show="!hasRecord" class="ng-hide">
                <span class="noRecord"></span>
            </div>
        </div>
    </script>


    <title>this is paging directive</title>
</head>
<body>
<div ng-controller="indexController" class="padding60">
    <table class="tableStyle">
        <thead>
        <tr>
            <th width="20%">head1</th>
            <th width="20%">head2</th>
            <th width="20%">head3</th>
            <th width="20%">head4</th>
            <th width="20%">head5</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results track by $index">
            <td ng-bind="'item'+result"></td>
            <td ng-bind="'item'+result"></td>
            <td ng-bind="'item'+result"></td>
            <td ng-bind="'item'+result"></td>
            <td ng-bind="'item'+result"></td>
        </tr>
        </tbody>
    </table>
    <!-- callback is function binding. It binds your own business implements.(required) -->
    <!-- callback 绑定一个函数，函数为你自定义的实现 .(必须) -->
    <!-- page-size/current-page are two-way binding attributes. (required) -->
    <!-- page-size/current-page 是双向绑定属性. (required) -->
    <!-- total-count is a one-way binding attributes,because it's used to render paging directive and it's value invariant inside the directive -->
    <!-- total-count 是一个单向绑定属性，因为它仅用与刷新分页控件，在分页内部，其值不会变化 -->
    <!-- page-size-option allows you define your pageSize selector options. It must separated by ','.(optional) (default:10,20,50,100)  -->
    <!-- paging-btn-num allows you define the button number you want. It must be a positive integer num.(optional) (default:7)  -->
    <!-- paging-btn-num 可以指定展示多少个分页按钮，默认7个.(optional).  -->
    <ng:pagination callback="paging(data)" total-count="{{totalCount}}" page-size="pageSize" current-page="currentPage"
                   page-size-option="10,15,20,50" paging-btn-num="11"></ng:pagination>
</div>

</div>
</body>
</html>